### ASSIGNMENT 4

#### Qestion 1

In [181]:
def factorial(number):
    factorial = 1
    for i in range(1, number+1):
        factorial = i * factorial
    return factorial

In [182]:
factorial(12)

479001600

#### Qestion 2

In [29]:
def multiplication_table(number):
    for i in range(1, number):
        print(f'{number} x {i} = {i*number}')

In [30]:
multiplication_table(10)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

#### Qestion 3

In [55]:
def fibonaci(number):
    a = 1
    b = 1
    fib = []
    for i in range(number):
        fib.append(a)
        a, b = b, b+a
    return fib

In [57]:
fibonaci(7)

[1, 1, 2, 3, 5, 8, 13]

#### Qestion 4

In [59]:
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 407
407 is an Armstrong number

#### Qestion 5

In [121]:
lower = 100
upper = 2000

for num in range(lower, upper + 1):
    # order of number
    order = len(str(num))
    
    # initialize sum
    sum = 0
    
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    
    if num == sum:
        print(num)

153
370
371
407
1634

#### Question 6

In [124]:
def sum_natural_numbers(number):
    return ((number*(number+1)) / 2)

In [125]:
sum_natural_numbers(5)

15.0

### ASSIGNMENT 5

#### Qestion 1

In [138]:
def compute_lcm(x, y):
    if x > y:
        greater = x
    else:
        greater = y
    while(True):
        if((greater % x == 0) and (greater % y == 0)):
            lcm = greater
            break
        greater += 1
    return f'The L.C.M. is, {lcm}'

In [139]:
compute_lcm(8,7)

'The L.C.M. is, 56'

#### Qestion 2

In [140]:
def compute_hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return f'The H.C.F. is", {hcf}'

In [144]:
compute_hcf(54,24)

'The H.C.F. is", 6'

#### Qestion 3

In [145]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

#### Qestion 4

In [150]:
c = 'j'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'j' is 106

#### Qestion 5

In [158]:
operation = input('Operation: ')
a = int(input('Number: '))
b = int(input('Number: '))


if operation == '+':
    print(a + b)
elif operation == '-':
    print(a - b)
elif operation == '/':
    print(a / b)
elif operation == '*':
    print(a * b)
else:
    print('Enter a valid operation')

Operation: 3
Number: 4
Number: 4
Enter a valid operation

### ASSIGNMENT 6

#### Qestion 1

In [185]:
def factorial(number):
    if number < 2:
        return 1
    else:
        return number * factorial(number-1)

In [187]:
factorial(5)

120

In [ ]:

nterms = 10
if nterms <= 0:
    print("Plese enter a positive integer")
else:
    print("Fibonacci sequence:")
    for i in range(nterms):
        print(recur_fibo(i))

#### Qestion 2

In [171]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [172]:
factorial(5)

120

#### Qestion 3

In [164]:
def bmi(weight_kg, height_m):
    return weight_kg/(height_m**2)

In [167]:
bmi(89, 1.79)

27.776910832995224

#### Qestion 4

In [168]:
import math

number = int(input("Enter the number: "))
ans = math.log(number)
print("The value is:",ans)

Enter the number: 7
The value is: 1.9459101490553132

#### Qestion 5

In [169]:
def sumOfSeries(n):
    sum = 0
    for i in range(1, n+1):
        sum +=i*i*i
    return sum

In [170]:
sumOfSeries(5)

225